<div class="whatsapp-module twig">
    <div class="{{ cssClass }}">
        <a id="whatsapp-link" 
           href="#" 
           data-phone="{{ whatsappNumber }}" 
           data-message="{{ whatsappMessage }}" 
           title="WhatsApp" 
           rel="nofollow" 
           target="_blank">
            <span>{{ whatsappTitle }}</span>
        </a>
    </div>
</div>