{% extends "@Contao/frontend_module/_base.html.twig" %}
{% block inner %}
    <a id="whatsapp-link" 
    href="#" 
    data-phone="{{ whatsappNumber }}"
    data-message="{{ whatsappMessage }}" 
    title="WhatsApp" 
    rel="nofollow" 
    target="_blank">
        <span>{{ whatsappTitle }}</span>
    </a>
{% endblock %}